<!DOCTYPE html>
<html>
  <head>
    <title>InstructablesClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>,
          "email": "<%= current_user.email %>"
          };
      </script>
    <% end %>

    
      <script type="text/javascript">
        window.logoURL = "<%= image_url('robot.png') %>";
      </script>
      <script type="text/javascript">
        window.feature = "<%= image_url('splash-pic.jpg') %>";
      </script>

      <script type="text/javascript">
        window.home = "<%= image_url('home.png') %>";
      </script>
      <script type="text/javascript">
        window.bike = "<%= image_url('bike.png') %>";
      </script>
      <script type="text/javascript">
        window.book = "<%= image_url('book.png') %>";
      </script>
      <script type="text/javascript">
        window.circuit = "<%= image_url('circuit.png') %>";
      </script>
      <script type="text/javascript">
        window.meal = "<%= image_url('meal.png') %>";
      </script>
      <script type="text/javascript">
        window.scissors = "<%= image_url('scissors.png') %>";
      </script>
      <script type="text/javascript">
        window.wrench = "<%= image_url('wrench.png') %>";
      </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
